<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Selenium/JavaSelenium_Aug25/src/main/java/com/automation/day7/ParallelTestingUsingTestNg.java"><classes><class name="com.automation.day7.ParallelTestingUsingTestNg"><methods><include name="testOne"/><include name="testTwo"/><include name="testThree"/><include name="testFour"/></methods></class></classes></test></suite>